@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Lilita+One&family=Oleo+Script&family=Silkscreen&family=Splash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oleo Script', cursive;
    overflow-x: hidden;
}

.navbar {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    font-weight: bold;
    color: lightpink;
    background-color: darkslateblue;
}

.navbar h1 {
    font-size: 45px;
    font-family:'Oleo Script', cursive;
}

.menu {
    display: flex;
    width: 50%;
    font-size: 20px;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 7px;
}

.menu li a {
    transition: all 0.5s ease;
}

.menu a:hover{
background-color: lightpink;
color: darkslateblue;
border-radius: 30px;


}



ul a {
    color: lightpink;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 2rem;
}

ul {
    list-style: none;
}


.experiencia {
    min-width: 100vw;
    min-height: 50vh;
    padding: 3em;
    display: flex;
    flex-direction: row;
    background-color: lightpink;
}

.img-experiencia {
    width: 50%;

}

.container-exp {
    padding: 3em;
    padding-top: 10em;
    font-size: 20px;
}

.btn-contacto {
    padding: 10px 20px;
    background-color: darkslateblue;
    color: lightpink;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px #bfaef5;
    font-family: 'Oleo Script', cursive;;
}

.informacion {
    min-width: 85vw;
    min-height: 85vh;
    padding: 5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: darkslateblue;
    color: lightpink;
}

.info-tittle {
    font-size: 40px;
}

.info-text {
    font-size: 20px;
}


.ubicacion {
    min-width: 100vw;
    min-height: 100vh;
    background-color: darkslateblue;
}

.ubi-tittle {
    color: lightpink;
    text-align: center;
    padding-top: 2em;
    font-size: 50px;
}

.mapa {
    padding: 2em;

}

.mapa iframe {
    width: 100%;
    padding-top: 2em;
}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover{
text-decoration: none;
color: #0df053;
background-color: #fff;
}